allow qti_init_shell sensors_persist_file:dir { setattr relabelfrom relabelto };
allow qti_init_shell sensors_persist_file:file { relabelfrom relabelto };
allow qti_init_shell persist_file:file { relabelfrom relabelto };
allow qti_init_shell sensors_data_file:dir setattr;

set_prop(qti_init_shell, sensors_panel_prop);
