allow system_server fingerprint_sysfs:file rw_file_perms;
allow system_server ir_device:chr_file rw_file_perms;
allow system_server sound_device:chr_file rw_file_perms;
