on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    export ANDROID_ROOT /system_root

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "a800000.dwc3"
