#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    chown system system /data/vendor/fpc/calibration_image.pndat
    chmod 0600 /data/vendor/fpc/calibration_image.pndat
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
