# Copyright (c) 2013-2017, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    symlink /data/tombstones /tombstones

on init
    # QSEE rpmb listener need symlink for bootdevice
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Start qseecomd early as we mount system/ early
    # vold needs keymaster which needs qseecomd
    start qseecomd

    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

    # Set up schedtune
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1

    # Configure core ctl
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_up_thres 60
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_down_thres 30
    write /sys/devices/system/cpu/cpu4/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu4/core_ctl/is_big_cluster 1
    write /sys/devices/system/cpu/cpu4/core_ctl/task_thres 4

    # Set b.L scheduler parameters
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_downmigrate 90
    write /proc/sys/kernel/sched_group_upmigrate 100
    write /proc/sys/kernel/sched_group_downmigrate 95
    write /proc/sys/kernel/sched_select_prev_cpu_us 0
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000
    write /proc/sys/kernel/sched_spill_nr_run 5
    write /proc/sys/kernel/sched_restrict_cluster_spill 1

    # Bring CPUs online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # Disable thermal bcl hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1248000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "83 1401600:95"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 79000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1267200
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "83 1420800:95"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 79000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 1

    # Enable thermal and BCL hotplug
    write /sys/module/msm_thermal/core_control/enabled 1

    # Enable input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100

    # Disable retention
    write /sys/module/lpm_levels/system/pwr/cpu0/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/cpu1/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/cpu2/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/cpu3/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu4/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu5/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu6/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu7/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/pwr-l2-dynret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/pwr-l2-ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/perf-l2-dynret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/perf-l2-ret/idle_enabled N

    # Create camera daemon cpusets
    mkdir /dev/cpuset/camera-daemon 0750 cameraserver cameraserver
    write /dev/cpuset/camera-daemon/cpus 0
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

on fs
    mount_all /vendor/etc/fstab.qcom --early
    swapon_all /vendor/etc/fstab.qcom

    restorecon_recursive /persist
    mkdir /persist/data 0700 system system
    mkdir /persist/wlan_bt 0700 system system
    mkdir /persist/audio 0755 system system

    # Start HW service manager early
    start hwservicemanager

on post-fs
    wait_for_prop sys.listeners.registered true

    write /dev/ipa 1

on late-fs
    # Start devices by sysfs trigger
    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_slpi/boot 1

    # Start services for bootanim
    start surfaceflinger
    start bootanim
    start hwcomposer-2-1
    start configstore-hal-1-0
    start gralloc-2-0

    # Boot-time fs tuning
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/nr_requests 256
    setprop sys.io.scheduler "cfq"

    mount_all /vendor/etc/fstab.qcom --late

on post-fs-data
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system

    # Create directory for thermal engine
    mkdir /data/thermal 0771 system system
    mkdir /data/thermal/config 0771 system system

on property:sys.boot_completed=1
    # Post-boot fs tuning
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/sde/queue/iostats 1
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sde/queue/read_ahead_kb 1024
    setprop sys.io.scheduler "bfq"

    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-3,6-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-3

    start qcom-post-boot

on charger
    write /sys/class/input/input0/enabled 0
    write /sys/class/input/input1/enabled 0
    write /sys/class/input/input2/enabled 0
    write /sys/class/input/input3/enabled 0
    write /sys/class/input/input4/enabled 0

    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/module/msm_thermal/parameters/enabled N

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 300000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 300000

    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1

    wait /dev/block/bootdevice/by-name/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /persist nosuid nodev barrier=1

    load_system_props

    start hvdcp_opti
    start thermal-engine
    start qcom-post-boot

    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

service per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4

service per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root

service thermal-engine /vendor/bin/thermal-engine -T
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    socket thermal-send-rule stream 0660 system system
    group root

service adsprpcd /vendor/bin/adsprpcd
    class main
    user media
    group media
    writepid /dev/cpuset/system-background/tasks

service imsqmidaemon /vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    writepid /dev/cpuset/system-background/tasks

service imsdatadaemon /vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled
    writepid /dev/cpuset/system-background/tasks

service pd_mapper /vendor/bin/pd-mapper
    class core

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /vendor/bin/ims_rtp_daemon
    class main
    user system
    group radio diag inet log
    disabled
    writepid /dev/cpuset/system-background/tasks

service vendor.imsrcsservice /vendor/bin/imsrcsd
    class main
    user system
    group radio diag inet log
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:vendor.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon
    start vendor.imsrcsservice

service energy-awareness /vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot
    writepid /dev/cpuset/system-background/tasks

service hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock
    writepid /dev/cpuset/system-background/tasks

service readmac /vendor/bin/readmac
    class main
    user root
    group oem_2950 bluetooth
    oneshot
